---
import { Image } from "@astrojs/image/components";
import dateFormat from "@lib/utils/dateFormat";
import { abspath,humanize,slugify,markdownify,plainify } from "@lib/utils/textConverter";
import { BiCalendarEdit,BiCategoryAlt } from "react-icons/bi/index.js";
import { getSinglePage } from "@lib/contentParser";
import config from "@config/config.json";
import { getDescription } from "@lib/utils/contentDescription";

const { slug } = Astro.props;
const posts = await getSinglePage("posts");
const post = posts.find((post) => post.slug.includes(slug));
const description = await getDescription(post);
---

<div class="row my-4 py-4 justify-center border border-gray-200 rounded">
  <h5 class="h5 col-12">
    <img
      class="inline my-0"
      src={config.site._logo}
      alt={post.data.title}
      width={32}
      height={32}
    />
    <a href={abspath`/${post.slug}`} class="inline hover:text-primary transition duration-300">
      {post.data.title}
    </a>
  </h5>
  <div class="row">
    <article class="text-sm text-break col-9">
      {plainify(markdownify((description ?? post.body)?.slice(0, 300)) || "")}...
    </article>
    <div class="col-3">
      {post.data.image && (
        <a href={abspath`/${post.slug}`} class="rounded-lg block hover:text-primary overflow-hidden group">
          <Image
            class="group-hover:scale-[1.05] transition duration-300 w-full my-0"
            src={post.data.image}
            alt={post.data.title}
            width={230}
            height={230}
          />
        </a>
      )}
    </div>
  </div>
  <ul class="py-0 my-0 text-text flex flex-wrap items-center text-sm">
    <li class="my-0 mr-4 flex items-center flex-wrap font-medium">
      <BiCalendarEdit className="mr-1 h-[16px] w-[16px] text-gray-600" />
      <>{dateFormat(post.data.date)}</>
    </li>
    <li class="my-0 mr-4 flex items-center flex-wrap">
      <BiCategoryAlt className="mr-1 h-[16px] w-[16px] text-gray-600" />
      {post.data.categories.map((category: string, i: number) => (
          <a
            href={abspath`/categories/${slugify(category)}`}
            class="mr-2 hover:text-primary font-medium"
          >
            {humanize(category)}{i !== post.data.categories.length - 1 && ","}
          </a>
      ))}
    </li>
  </ul>
</div>
